body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 14.5em;
  min-height: 100vh;
}
body .hero {
  height: 83vh;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  max-width: 100%;
  height: 833px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
}
@media only screen and (max-width: 1200px) {
  body .hero {
    background-image: linear-gradient(rgba(66, 67, 70, 0.4), rgba(66, 67, 70, 0.4)), url(../assets/fondomovil.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 600px) {
  body .hero {
    background-image: linear-gradient(rgba(66, 67, 70, 0.4), rgba(66, 67, 70, 0.4)), url(../assets/fondomovil600px.jpg);
    background-size: cover;
  }
}
body .hero .info-content {
  grid-column: 2/5;
  grid-row: 3/7;
  color: #fff;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  body .hero .info-content {
    grid-column: 2/10;
    grid-row: 4/5;
  }
}
@media only screen and (max-width: 1200px) {
  body .hero .info-content {
    grid-column: 3/9;
    grid-row: 4/5;
  }
}
body .hero .info-content h1 {
  font-size: 70px;
  color: black;
}
@media only screen and (max-width: 600px) {
  body .hero .info-content h1 {
    font-size: 50px;
  }
}
body .hero .info-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 40px;
  text-shadow: 5px 10px 15px #363636;
  background-color: rgba(8, 8, 8, 0.2);
  padding: 15px;
}
@media only screen and (max-width: 600px) {
  body .hero .info-content p {
    font-size: 20px;
    line-height: 35px;
  }
}
body .btn {
  font-size: 20px;
  border: none;
  display: inline-block;
  text-decoration: none;
  background-color: #ff72d2;
  color: white;
  padding: 15px 20px;
  border-radius: 100px;
  transition: 0.3s ease all;
  cursor: pointer;
}
body .btn:hover {
  background-color: white;
  color: #ff72d2;
}

.footer {
  padding: 40px 0;
  background-color: #181818;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
@media only screen and (max-width: 600px) {
  .footer .social {
    text-align: center;
    padding-bottom: 2px;
    color: white;
  }
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  background-color: #f5f3f3;
}

.texto {
  font-weight: bold;
}

.nosotrosSection {
  background: url(../assets/Cambiar-color-pelo.jpg) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}
@media screen and (max-width: 1000px) {
  .nosotrosSection {
    background-size: 100%;
    padding: 100px 40px;
  }
}
@media screen and (max-width: 600px) {
  .nosotrosSection {
    padding: 0;
  }
}
.nosotrosSection .innerContainer {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}
@media screen and (max-width: 1200px) {
  .nosotrosSection .innerContainer {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .nosotrosSection .innerContainer {
    padding: 80px;
  }
}
@media screen and (max-width: 600px) {
  .nosotrosSection .innerContainer {
    padding: 60px;
  }
}
.nosotrosSection .innerContainer h1 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 900;
}
.nosotrosSection .innerContainer .text {
  font-size: 16px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
.nosotrosSection .innerContainer .skills {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}
.nosotrosSection .innerContainer .skills .logo {
  width: 130px;
}
@media screen and (max-width: 600px) {
  .nosotrosSection .innerContainer .skills .logo {
    width: 100px;
  }
}
.nosotrosSection .innerContainer .skills .logo2 {
  width: 110px;
}
@media screen and (max-width: 600px) {
  .nosotrosSection .innerContainer .skills .logo2 {
    width: 95px;
  }
}

.containerA {
  background-color: rgba(45, 49, 42, 0.12);
  padding: 20px;
  text-align: center;
}
.containerA .tituloA {
  font-size: 30px;
}
.containerA .subtituloA {
  padding: 45px;
  font-size: 30px;
}
.containerA .subtituloA h2 {
  font-weight: bold;
}
.containerA .parrafoA {
  margin-left: 100px;
  margin-right: 100px;
}
.containerA .parrafoA p {
  font-size: 18px;
}

.form {
  resize: none;
}

/*# sourceMappingURL=estilos.css.map */
