body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 14.5em;
  min-height: 100vh;
}
body .hero {
  height: 83vh;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  max-width: 100%;
  height: 833px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
}
@media only screen and (max-width: 1200px) {
  body .hero {
    background-image: linear-gradient(rgba(66, 67, 70, 0.4), rgba(66, 67, 70, 0.4)), url(../assets/fondomovil.jpg);
  }
}
body .hero .info-content {
  grid-column: 2/5;
  grid-row: 3/7;
  color: #fff;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  body .hero .info-content {
    grid-column: 2/10;
    grid-row: 4/5;
  }
}
body .hero .info-content h1 {
  font-weight: 900;
  font-size: 5em;
  color: black;
}
body .hero .info-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
body .btn {
  font-size: 20px;
  border: none;
  display: inline-block;
  text-decoration: none;
  background-color: #ff72d2;
  color: white;
  padding: 15px 20px;
  border-radius: 100px;
  transition: 0.3s ease all;
  cursor: pointer;
}
body .btn:hover {
  background-color: white;
  color: #ff72d2;
}

.footer {
  padding: 40px 0;
  background-color: #181818;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  background-color: #f5f3f3;
}

.containerN {
  background-color: rgba(45, 49, 42, 0.12);
  padding-bottom: 70px;
}
.containerN .tituloN {
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 40px;
}
.containerN .parrafoN {
  height: 120px;
  margin: auto;
  text-align: center;
  width: 600px;
  padding-bottom: 100px;
  margin-bottom: 60px;
}
.containerN .videoN {
  display: inline;
  margin-left: 680px;
}

.containerA {
  background-color: rgba(45, 49, 42, 0.12);
  padding: 20px;
  text-align: center;
}
.containerA .tituloA {
  font-size: 30px;
}
.containerA .subtituloA {
  padding: 60px;
  font-size: 30px;
}
.containerA .parrafoA {
  margin-left: 100px;
  margin-right: 100px;
}

/*# sourceMappingURL=estilos.css.map */
