@import "variables";
@import "main";
@import "footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// estilos productos

.color{
    background-color: rgba($color: #f5f3f3, $alpha: 1.0);
}

.texto{
    font-weight: bold;
}

// estilos acerca de

.nosotrosSection{
    background: url(../assets/Cambiar-color-pelo.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;

    @media screen and (max-width:1000px){
        background-size: 100%;
        padding: 100px 40px;
    }

    @media screen and (max-width:600px){
        padding: 0;
    }

    .innerContainer{
        width: 55%;
        float: right;
        background-color: #fdfdfd;
        padding: 150px;

        @media screen and (max-width:1200px){
            width: 100%;
        }

        @media screen and (max-width:1000px){
            padding: 80px;
        }

        @media screen and (max-width:600px){
            padding: 60px;
        }

        h1{
            margin-bottom: 30px;
            font-size: 35px;
            font-weight: 900;
        }

        .text{
            font-size: 16px;
            color: #545454;
            line-height: 30px;
            text-align: justify;
            margin-bottom: 40px;
        }

        .skills{
            align-items: center;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            font-size: 13px;

            .logo{
                width: 130px;

                @media screen and (max-width:600px){
                    width: 100px;
                }
            }

            .logo2{
                width: 110px;

                @media screen and (max-width:600px){
                    width: 95px;
                }
            }
        }
    }
}


// estilos ayuda

.containerA{
    background-color: rgba(45, 49, 42, 0.12);
    padding: 20px;
    text-align: center; 

    .tituloA{
        font-size: 30px;
    }

    .subtituloA{
        padding: 45px;
        font-size: 30px;

        h2{
            font-weight: bold;
        }
    }

    .parrafoA{
        margin-left: 100px;
        margin-right: 100px;

        p{
            font-size: 18px;
        }
    }
    
}

// estilos contacto

.form{
    resize: none;
}







