@import "variables";
@import "main";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// estilos productos

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img{
  width: 100%;
  height: 400px;
  justify-content: center;
  transition: .3s ease all;
  background-color: white;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
  
}

// estilos acerca de

.tituloN {
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.parrafoN{
    height: 120px;
    margin: auto;
    text-align: center;
    width: 600px;
    padding-bottom: 100px;
    margin-bottom: 60px;
}

.videoN{
    display: inline;
    margin-left: 680px; 
}

.containerN{
    background-color: rgba(45, 49, 42, 0.12);
    padding-bottom: 70px;
}

// estilos ayuda

.containerA{
    background-color: rgba(45, 49, 42, 0.12);
    padding: 20px;
    text-align: center; 
}

.tituloA{
    font-size: 30px;
}

.subtituloA{
    padding: 60px;
    font-size: 30px;
}

.parrafoA{
    margin-left: 100px;
    margin-right: 100px;
}

// estilos contacto

.contenedorC{
    background-color: rgba(45, 49, 42, 0.12) ;
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.tituloC{
    font-size: 30px;
}

.formC{
    margin-top: 20px;
}

.formElements{
    padding: 15px;
}